:root {
  --bg-color: #d5e1ef;
  --card-bg: #ffffff;
  --text-primary: #1f3251;
  --text-secondary: #7b879d;
  --font-family: 'Outfit', sans-serif;

  --card-radius: 1.25rem;
  --image-radius: 0.9375rem;
  --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  --card-max-width: 320px;
  --card-padding: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

main {
  width: 100%;
}

.card {
  background-color: var(--card-bg);
  max-width: var(--card-max-width);
  width: 100%;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  text-align: center;
  margin: auto;
}

.card img {
  width: 100%;
  border-radius: var(--image-radius);
  margin-bottom: 1.2rem;
}

.card h1,
.card p {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.card h1 {
  font-size: 1.375rem; /* 22px */
  font-weight: 700;
  color: var(--text-primary);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1.5;
  max-width: 270px; /* بدل 260px */
  margin-inline: auto;
  word-break: keep-all;
}


/* Attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: #4d4d4d;
  margin-top: 2rem;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
